{% style %}

.scroll-left {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: red;
  color: white;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.scroll-left p {
  position: absolute;
  width: 90%;
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

{% endstyle %}

<div class="scroll-left">
<p>REDUCTION INSTANTANEE DE 30% SUR TOUT LE SHOP !</p>
</div>
