{% style %}

.scroll-left {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: {{ section.settings.annonce-color-bg }};
  color: white;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.scroll-left p {
  position: absolute;
  width: 90%;
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: {{ section.settings.annonce-color }};
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: scroll-left {{ section.settings.vitesse }}s linear infinite;
  -webkit-animation: scroll-left {{ section.settings.vitesse }}s linear infinite;
  animation: scroll-left {{ section.settings.vitesse }}s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

{% endstyle %}

<div class="scroll-left">
<p>{{ section.settings.annonce-txt }}</p>
</div>




<!-- SCHEMA -->

,
	{
		"type": "header",
		"content": "ANNONCE OKLM"
	},
	{
		"type": "text",
		"id": "annonce-txt",
		"label": "Contenu de l'annonce",
		"default": "ANNONCE SPÉCIALE : -20% SUR TOUTE LA BOUTIQUE"
	},
    {
      "type": "color",
      "id": "annonce-color-bg",
      "label": "Couleur du bg annonce",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "annonce-color",
      "label": "Couleur du texte annonce",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "vitesse",
      "label": "Vitesse oklm",
      "min": 1,
      "max": 25,
      "step": 1,
      "unit": "s",
      "default": 10
    }
